{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "filepath": "",
  "requirePragma": false,
  "insertPragma": false,
  "singleQuote": false,
  "overrides": [
    {
      "files": ["*.tsx", "*.ts"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "parser": "json"
      }
    }
  ],
  "endOfLine": "auto" 
}
